body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.App {
  max-width: 800px;
  margin: 40px auto;
  border: none;
}

.App h1 {
  font-size: 60px;
}

.App footer {
  font-size: 14px;
  color: rgb(80, 80, 80);
  text-align: center;
}

.App a {
  color: black;
}

@media (max-width: 600px) {
  .App {
    margin: 10px;
  }
  .App h1 {
    font-size: 40px;
  }
  .App footer {
    font-size: 12px;
  }
}
